<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="5">

    <test verbose="2" preserve-order="true" name="Browser Tests">
        <classes>
            <class name="browser_tests.RegistrationTests">
            <methods>
                <include name="testHomePageTitle"/>
                <include name="testUserRegistration"/>
            </methods>
            </class>
            <class name="browser_tests.PlaceOrderTests">
                <methods>
                    <include name="testOrderFeature"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>